@import 'src/styles/images';

$cursor-size: .5rem;

:root {
  --cursor-fill-color: var(--red);
}

.presentation-wrapper {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
}

.presentation {
  background: rgba(255, 255, 255, .02);
  border-radius: .9rem;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;

  .cursor {
    fill: var(--cursor-fill-color);
    r: $cursor-size;
  }
}

svg {
  height: 100%;
  width: 100%;
}
